html {
}

body {
  background: url("../img/pattern.jpg") repeat;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  justify-content: flex-end;
}

#logo {
  float: left;
}

nav {
  float: right;
  margin: 0 5px;
}

nav li {
  float: left;
  list-style-type: none;
  display: block;
  margin: 0 10px;
}

section {
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  width: 75%;
  padding: 20px;
}

h1 {
  text-align: center;
}

footer {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 1 0;
}
