body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
  background-color: white;
  padding: 5px;
}

h1 {
  text-align: center;
}

.container {
  border: 1px solid #dadada;
  padding: 3px;
}

p {
  line-height: 3px;
}
